<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
        body{
            text-align: center;
            background-color: rgb(121, 194, 194);
        }
        button{
            background-color: #a3cfa6;
        }
        button:hover {
            background-color: #45a049;

        }
       .container{
        width:500px;
        position: absolute;
        left:450px;
        top:200px;
        border-radius: 10px;
      
        background-color: #e7c4c4;
        padding: 30px;
   
       }
       
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color:blue" ><u>CANDIDATE REGISTER FORM</u>`</h1>
        
    <form action="/register" method="post">
        <label>NAME  </label><input type="text" name="name"/><br/><br/>
        <label>EMAIL  </label><input type="text"name="mail"/><br/><br/>
        <label>AGE  </label><input type="text" name="age"/><br/><br/>
        <button> Register Now</button>
    </form>
</div>
</body>
</html>